<section class="mt-3">
  <h5>Check your nearest vaccination center and slots availability</h5>
  <form
    [formGroup]="searchForm"
    action="submit"
    class="mt-3"
    (ngSubmit)="onSubmitForm()"
  >
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        formControlName="selectTypeRadio"
        id="flexRadioDefault1"
        value="byPin"
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Search by Pin
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        formControlName="selectTypeRadio"
        id="flexRadioDefault2"
        value="byDistrict"
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Search by District
      </label>
    </div>
    <div
      *ngIf="searchForm.value.selectTypeRadio == 'byPin'"
      id="byPincode"
      class="form-row mt-3 row"
    >
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <input
          type="text"
          class="form-control"
          formControlName="pinCode"
          placeholder="Enter Pin"
        />
      </div>
    </div>
    <div
      *ngIf="searchForm.value.selectTypeRadio == 'byDistrict'"
      id="byDistrict"
      class="form-row mt-3 row"
    >
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-1">
        <select
          class="form-control"
          formControlName="state"
          (change)="onSelectState()"
        >
          <option value="">Select State</option>
          <option *ngFor="let state of states" [ngValue]="state.state_id">
            {{ state.state_name }}
          </option>
        </select>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-1">
        <select class="form-control" formControlName="district">
          <option value="">Select District</option>
          <option *ngFor="let dist of districts" [ngValue]="dist.district_id">
            {{ dist.district_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="my-2">
      <button class="btn btn-secondary">Search</button>
    </div>
    <hr />
    <div *ngIf="dataCurrent.length" class="form-row mt-2 row">
      <div class="col-4 col-sm-3 col-md-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="fChecks"
            (change)="onCheckboxChangeAge($event)"
            value="18"
          />
          <label class="form-check-label" for="flexCheckDefault"> 18+ </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="fChecks"
            (change)="onCheckboxChangeAge($event)"
            value="45"
          />
          <label class="form-check-label" for="flexCheckChecked"> 45+ </label>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="fChecks"
            (change)="onCheckboxChangeDose($event)"
            value="available_capacity_dose1"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Dose 1
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="fChecks"
            (change)="onCheckboxChangeDose($event)"
            value="available_capacity_dose2"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Dose 2
          </label>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="fChecks"
            (change)="onCheckboxChangeFee($event)"
            value="Free"
          />
          <label class="form-check-label" for="flexCheckDefault">Free</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="fChecks"
            (change)="onCheckboxChangeFee($event)"
            value="Paid"
          />
          <label class="form-check-label" for="flexCheckChecked">Paid</label>
        </div>
      </div>
    </div>
  </form>
</section>
<section class="mt-4 row">
  <div
    *ngFor="let data of dataCurrent; let i = index"
    class="col-12 col-sm-6 col-lg-4"
  >
    <app-detail-card
      [centerData]="data"
      [oldData]="dataPrevious[i]"
      (emptyValue)="isEmptyCheck($event)"
      (newNotification)="receiveNoti($event)"
    ></app-detail-card>
  </div>
</section>
<div *ngIf="isEmpty">
  <p class="h5 text-warning text-center">No Data Found</p>
</div>
<section *ngIf="searchClicked && !isEmpty" class="text-center my-3">
  <p class="mb-0">Didn't find your center?</p>
  <p class="mb-0">
    Get notified for upcoming slots, Click
    <a
      (click)="getNotify()"
      data-backdrop="static"
      data-toggle="modal"
      data-target="#myModal"
      class="text-primary"
      >here</a
    >
  </p>
</section>

<!-- MODAL -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notifying</h5>
        <button (click)="stopNotify()" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body body-empty">
        <div class="row no-gutters my-auto">
          <div
            class="col-12 col-md-6 col-lg-4 px-1 py-1"
            *ngFor="let data of allNewBanner"
          >
            <div class="card">
              <div class="card-body">
                <h6 class="card-subtitle mb-2">{{ data.name }}</h6>
                <table class="table table-borderless mb-0 table-sm">
                  <tbody>
                    <tr>
                      <td>Address</td>
                      <td>{{ data.address }}</td>
                    </tr>
                    <tr>
                      <td>District</td>
                      <td>{{ data.district_name }}</td>
                    </tr>
                    <tr>
                      <td>Block</td>
                      <td>{{ data.block_name }}</td>
                    </tr>
                    <tr>
                      <td>Fee</td>
                      <td>{{ data.fee_type }}</td>
                    </tr>
                    <tr>
                      <td>Date</td>
                      <td>{{ data.date }}</td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>{{ data.min_age_limit }}+</td>
                    </tr>
                    <tr>
                      <td>D1</td>
                      <td>{{ data.available_capacity_dose1 }}</td>
                    </tr>
                    <tr>
                      <td>D2</td>
                      <td>{{ data.available_capacity_dose2 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer text-muted text-center py-1">
                {{ showTime }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="allNewBanner.length == 0" class="row no-gutters body-empty">
          <div class="mx-auto my-auto h5">
            New opened slots will be shown here
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start d-block py-1">
        <div class="row no-gutters">
          <div class="col-10">
            <p>Click the X button to stop receiving notification</p>
          </div>
          <div class="col-2">
            <a
              target="_blank"
              href="https://selfregistration.cowin.gov.in/"
              class="card-link btn btn-link"
            >
              CoWin Portal
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
