.border-sel {
  border-color: #00467f;
}
.bg-sel {
  background-color: #00467f;
}
#address-table td {
  padding: 0;
  line-height: 1.3rem;
  font-size: 0.8rem;
}
#slot-table {
  th {
    font-size: 0.83rem;
    text-align: center;
  }
  td {
    font-size: 0.8rem;
    text-align: center;
  }
}
.font-09 {
  font-size: 0.9rem;
}
