/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  background-color: #bc2253;
  cursor: pointer;
  font-size: 24px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  color: inherit;
  opacity: 1;
}

// #myBtn:hover {
//   background-color: #555;
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
